* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #EFFAFA;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bgHeader {
  width: 100%;
  height: 156px;
  background-image: url("./assets/bg-header-mobile.svg");
  background-color: #5CA5A5;
}

main {
  position: absolute;
  top: 212px;
  padding-bottom: 34px;
  width: 327px;
}

@media screen and (min-width: 1440px) {
  body {
    padding: 0;
  }

  .bgHeader {
    background-image: url("./assets/bg-header-desktop.svg");
  }

  main {
    top: 232px;
    padding-bottom: 120px;
    width: 1110px;
  }
}